<html>
  <head>
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
      <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
      <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
      <style>
        body { padding: 3em }
      </style>
  </head>
  <body>
    <h1><a href="/">LBRY Web Prototype</a></h1>
    {% block meat %}{% endblock %}
  </body>
</html>
