{% extends "base.html" %}

{% block meat %}
{% if request.user.is_authenticated %}
<h2>Hello {{ request.user.username }}!</h2>
<p>You are registered with LBRY Web. <a href="{% url 'api_proxy' %}">Go try the app!</a></p>
<p>Your account_id is <strong>{{ request.user.account_id }}</strong>.</p>
<p><a href="{% url 'logout' %}?next=/">Logout</a></p>
{% else %}
<h2>Hello!</h2>
<p>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'registration' %}">register</a>.</p>
{% endif %}
{% endblock %}
